# Pré-processamento
Este notebook é responsável por pré-processar os dados realizando as seguintes tarefas:
- Tratamento de dados ausentes
- Definição de tipos
- Normalização e discretização
- Limpeza de dados (univariado, bivariado e multivariado)

Este notebook usa o 'clean_vehicles.csv' como dataset, que já não tem mais as colunas 'county', 'region_url' e 'image_url'.

In [151]:
from Utils import *

DATASET = "../datasets/clean_vehicles.csv"
df = pd.read_csv(DATASET)

## Definição de tipos
Olhando para a tabela que descreve o dataset em '1-initial-analysis.ipynb' e pela análise feita no notebook, os dados foram definidos nos formatos abaixo.

### Dados categóricos
- type
- region
- transmission
- manufacturer
- model
- condition
- cylinders
- fuel
- title_status
- drive
- size
- paint_color
- state

### Dados do tipo inteiro
- id
- price
- year

### Dados do tipo float
- odometer
- lat
- long

### Dados do tipo object
- url
- description
- vin

## Tratamento de dados ausentes ou nulos
Antes de podermos definir os tipos dos dados vamos primeiro lidar com os dados nulos ou ausentes.

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435849 entries, 0 to 435848
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            435849 non-null  int64
 1   url           435849 non-null  object
 2   region        435849 non-null  object
 3   price         435849 non-null  int64
 4   year          434732 non-null  float64
 5   manufacturer  415102 non-null  object
 6   model         429650 non-null  object
 7   condition     249043 non-null  object
 8   cylinders     269465 non-null  object
 9   fuel          432858 non-null  object
 10  odometer      360701 non-null  float64
 11  title_status  434043 non-null  object
 12  transmission  433703 non-null  object
 13  vin           239197 non-null  object
 14  drive         313838 non-null  object
 15  size          139888 non-null  object
 16  type          318741 non-null  object
 17  paint_color   300602 non-null  object
 18  description   435822 non-null  object
 19  state         435849 non-null  object
 20  lat           427614 non-null  float64
 21  long          427614 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 73.2+ MB

In [36]:
# Verifica quais dados sãbo nulos.
df.isnull().sum()

id                   0
url                  0
region               0
price                0
year              1117
manufacturer     20747
model             6199
condition       186806
cylinders       166384
fuel              2991
odometer         75148
title_status      1806
transmission      2146
vin             196652
drive           122011
size            295961
type            117108
paint_color     135247
description         27
state                0
lat               8235
long              8235
dtype: int64

### Tratamento de dados ausentes em Dados categóricos
Para os dados categóricos iremos criar uma nova categoria 'undefined' para substituir os dados ausentes.

In [153]:
categoric_types = ['type', 'region', 'transmission', 'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'title_status', 'drive', 'size', 'paint_color', 'state']

for column in categoric_types:
    df[column] = df[column].fillna('undefined')

In [154]:
# confirmando que não há mais amostras com dados categoricos nulos no novo dataframe
df.isnull().sum()

id                   0
url                  0
region               0
price                0
year              1117
manufacturer         0
model                0
condition            0
cylinders            0
fuel                 0
odometer         75148
title_status         0
transmission         0
vin             196652
drive                0
size                 0
type                 0
paint_color          0
description         27
state                0
lat               8235
long              8235
dtype: int64

### Tratamento de dados ausentes em Dados do tipo inteiro
Para os dados do tipo inteiro foi verificado que existe dados nulos apenas na coluna 'year', poucas amostras possui valor nulo na coluna 'year', representando 0,2% do dataset. Como o ano é um fator importante para a compra e venda de carros, queremos manter essas amostras.

Foi feita uma análise e notou-se que nesses casos o ano é na maioria das vezes os 4 primeiros dígitos da descrição seguidos da marca e modelo do carro. Usamos a função 'get_year_from_description' para realizar esse processo, a definição da função está no Utils.py.

In [155]:
# mostra os 20 primeiros caracteres da descrição das linhas que possuem a coluna ano nula
for elem in df[df['year'].isnull().values]['description']:
    try:
        print(elem[0:40])
    except:
        print(elem)

2019 *Chrysler* *Pacifica* Touring Plus
2019 *Jeep* *Grand Cherokee* Laredo SUV
2019 *Chevrolet* *Tahoe* 2WD 4dr LT SUV
2018 *Toyota* *Tacoma* TACOMA SR5 V6 DOU
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Subaru* *Forester* 2.5i CVT SUV -
2018 *Volkswagen* *Jetta* 1.4T S Automat
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2019 *Ford* *F-150* Lariat 4x4 4dr Super
2018 *Honda* *Accord Sedan* Sport 2.0T 1
2019 *Kia* *Optima* LX Automatic Sedan -
2020 *Chevrolet* *5500XD LCF Diesel* 550
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2019 *Chevrolet* *Corvette* 2dr Grand Sp
2018 *Chevrolet* *Tahoe* LT-4X4-22S-NEW
2018 *Honda* *Pilot* EX-L 2WD SUV - $28,
2018 *Acura* *TLX*  Sedan - $29,975Call
2019 *Chevrolet* *Silverado 1500 LD* LT
2019 *Mitsubishi* *Mirage* ES CVT ONLY 3
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Subaru* *Legacy* 2.5i Premium Seda
2018 *Hyundai* *Accent* SE Sedan Automat
2018 *Toyota* *Tacoma* TACOMA SR5 V6 DOU
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Ford* *Escape* S FWD SUV  - $16,69
2018 *Volkswagen* *Passat* 2.0T R-Line S
2019 *Chevrolet* *Suburban* PREMIER SUV
2018 *GMC* *Terrain* AWD 4dr SLT SUV - $
03 jeep liberty 2 wheel drive v6 runs go
2020 *Chevrolet* *Silverado 3500HD* LTZ
2019 *Nissan* *Altima* 2.5 S Sedan  - $1
2019 *Kia* *Sportage* LX FWD SUV  - $16,
2018 *Nissan* *Altima* 2.5 SV Sedan  - $
2019 *BMW* *X7* xDrive50i Sports Activit
2018 *Ram* *1500* Big Horn 4x4 Crew Cab
2018 *Nissan* *Altima* 2.5 SV Sedan  - $
2018 *Chevrolet* *Impala* 4dr Sedan LT w
2019 *Dodge* *Journey* Crossroad FWD SUV
2019 *Nissan* *Altima* 2.5 SR Sedan  - $
2019 *Ford* *F-150* Raptor - Navigation
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Ford* *Fusion* SEL Sedan - $16,190
2020 *Porsche* *Cayenne* S AWD SUV  - $7
2019 *Mercedes-Benz* *GLE* AMG GLE 43 4M
2018 *Land Rover* *Range Rover Sport* Su
2018 *Porsche* *718 Boxster* GTS Roadste
2019 *Mercedes-Benz* *G-Class* AMG G 63
2019 *Lexus* *LX* Three Row AWD 4dr SUV
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2018 *Nissan* *Rogue* SL AWD Tech Pkg SU
2019 *Ford* *Transit Van* T-250 EL High
2018 *Chevrolet* *Equinox* LT AWD SUV -
2019 *Hyundai* *Kona* SE SUV  - $16,092C
2019 *Nissan* *Altima* 2.5 S  Sedan - $1
2018 *Nissan* *Sentra* 1.8 SV Sedan - $1
2018 *Hyundai* *Elantra* SEL Sedan - $11
2019 *Hyundai* *Tucson* SE AWD SUV - $17
nan
2019 *Chevrolet* *CRUZE* LT Sedan - $14,
2018 *Volkswagen* *Jetta* 1.4T S Automat
2018 *Hyundai* *Elantra* SEL Sedan - $12
2018 *Hyundai* *Elantra* SEL Sedan - $12
2018 *Hyundai* *Elantra* SEL Sedan - $11
2019 *Hyundai* *Kona* SE AWD SUV - $16,5
2019 *Ford* *Transit Passenger Wagon* T-
2018 *Honda* *Fit* EX CVT Sedan FWD - $1
2019 *Dodge* *Grand Caravan* GT FWD - $1
2018 *Jeep* *Renegade* Limited 4x4 SUV
2019 *Dodge* *Grand Caravan* GT  - $18,0
2019 *Volkswagen* *Atlas* 3.6L V6 SE w/T
2020 *Ford* *F-150* LARIAT FX4 Truck - $
2019 *Toyota* *4Runner* SR5 4WD SUV - $3
2019 *Nissan* *Kicks* SV SUV - $16,390Ca
2019 *Ram* *2500* 35x20's - Colormatch P
2019 *BMW* *X7* xDrive50i Sports Activit
2020 *Toyota* *4Runner* TRD SUV - $46,90
2018 *Ram* *2500* Laramie Sport - 6.7L D
2019 *GMC* *Sierra 1500* LIFTED - 4x4 -
2019 *Ford* *Expedition* Limited - 4WD -
2018 *Subaru* *Forester* 2018 SUBARU FOR
2019 *Ford* *Fiesta* SE Hatchback - $11,
2020 *Porsche* *Cayenne* S AWD SUV  - $7
2018 *Ram* *4500 Chassis Cab* 4500 CREW
2018 *Land Rover* *Range Rover Sport* Su
2018 *Porsche* *718 Boxster* GTS Roadste
2019 *Mercedes-Benz* *G-Class* AMG G 63
2018 *Nissan* *Pathfinder* FWD SV SUV -
2018 *Lexus* *LX* LX  570 Two Row 4WD SU
2019 *Chevrolet* *Silverado 3500HD* 4WD
2018 *Nissan* *Versa Note* SV CVT Sedan
2018 *Nissan* *Pathfinder* FWD SV SUV -
2019 *Toyota* *Tundra* LIFTED - Crew Max
2019 *Chevrolet* *Silverado 1500* LIFTED
2019 *Ram* *2500* 35x20's - Colormatch P
2019 *Ram* *2500* Limited - Mega Cab - 4
nan
2018 *Honda* *CR-V* EX 2WD SUV - $22,500
2019 *Ford* *Explorer* 2019 FORD EXPLORE
2018 *GMC* *Sierra 1500* LIFTED - 5.3L V
2019 *GMC* *Sierra 1500* LIFTED - 5.3L V
2018 *GMC* *Terrain* 2018 GMC TERRAIN SL
2018 *Volvo* *S60* 2018 VOLVO S60 DYNAMI
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Ram* *2500* SLT CREW CAB 6.7L CUMM
2019 *Honda* *Civic Sedan* Sport CVT - $
2018 *Ford* *Flex* Limited FWD SUV - $21
2018 *Chrysler* *300* 300S AWD Sedan - $
2018 *Volvo* *V60* 2018 VOLVO V60 T5 DYN
2018 *Nissan* *Versa Sedan*  - $11,995Ca
2018 *Dodge* *Grand Caravan* GT Wagon -
2018 *Ford* *Focus* SE Sedan - $13,995Ca
2019 *Dodge* *Journey* Crossroad AWD SUV
2019 *Toyota* *Camry* SE Automatic Sedan
2018 *Ford* *Explorer* XLT FWD SUV - $28
2018 *Ford* *Flex* Limited FWD SUV - $21
2018 *Chrysler* *300* 300S AWD Sedan - $
2019 *Subaru* *WRX* Manual Sedan - $24,6
2019 *Honda* *Civic Sedan* Sport CVT - $
2019 *Ford* *Super Duty F-250 SRW* Laria
2019 *Nissan* *Rogue* FWD SV Hybrid SUV
2019 *Ford* *Super Duty F-350 SRW* LIFTE
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2019 *Toyota* *Tundra* ONLY 4K MILES. LI
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Chevrolet* *Silverado 1500* LIFTED
2018 *Nissan* *Rogue* 2018 NISSAN ROGUE
2019 *Ford* *Super Duty F-350 SRW* LIFTE
2019 *Chevrolet* *Silverado 1500* LIFTED
2019 *Chevrolet* *Silverado 2500HD* LIFT
2019 *Jeep* *Cherokee* 19 JEEP CHEROKEE,
2020 *Lexus* *ES* 2020 LEXUS ES350 F SPO
2018 *Subaru* *Forester* 2018 SUBARU FOR
2019 *GMC* *Sierra 1500* 4WD Crew Cab 14
2018 *Ford* *F-150* ECO-BOOST. 18 FORD F
2018 *Ford* *F-150* ECO-BOOST. 18 FORD F
2019 *Ford* *Explorer* 2019 FORD EXPLORE
2019 *BMW* *X7* xDrive50i Sports Activit
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2020 *GMC* *Sierra 1500* LIFTED NEW BODY
2019 *Nissan* *Rogue* AWD SV SUV - $17,4
2019 *Ford* *Super Duty F-250 SRW* LIFTE
2019 *Ford* *Super Duty F-250 SRW* SPECI
2019 *Toyota* *Tundra* 4WD SR5 CrewMax 5
2019 *BMW* *X7* xDrive50i Sports Activit
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2019 *Chevrolet* *Silverado 1500* Z71 AP
2019 *Ford* *Transit Van* T-250 130" Low
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2019 *Nissan* *Sentra* S Sedan - $11,896
2018 *Ford* *Fiesta* SE Sedan - $10,992C
2018 *Ford* *Fiesta* SE Sedan - $10,992C
2018 *Ford* *Fiesta* SE Sedan - $10,992C
2018 *Chevrolet* *Colorado* FRESH TRADE.
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2019 *Chevrolet* *Silverado 2500HD* LIFT
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2019 *Toyota* *Tundra* LIFTED 2019 TOYOT
nan
nan
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Jeep* *Cherokee* Latitude FWD SUV
2019 *Nissan* *Frontier* Crew Cab 4x2 SL
2018 *Nissan* *Sentra* S CVT Sedan - $11
2018 *Nissan* *Armada* 4x4 SL SUV - $31,
2018 *Kia* *Soul* + Automatic Sedan - $1
2019 *Nissan* *Altima* 2.5 S Sedan - $16
2018 *Nissan* *Rogue* AWD S SUV - $16,99
2019 *Ram* *2500*  - $44,995Call Us Toda
2019 *Ford* *Ranger* XLT 2WD SuperCrew 5
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
nan
2019 *Chrysler* *300* Limited RWD Sedan
2018 *GMC* *Savana Cargo Van* RWD 2500 1
2018 *Nissan* *Rogue* AWD S SUV - $16,99
2018 *Ford* *Focus* ST Hatch Hatchback -
2018 *Ford* *Expedition* Limited 4x2 SUV
2019 *Nissan* *Versa Sedan* SV CVT - $11
2018 *Dodge* *Grand Caravan* GT Wagon -
2019 *Kia* *Sorento* LX V6 AWD SUV - $20
2018 *Ford* *Flex* Limited FWD SUV - $21
2019 *Ford* *EcoSport* SE FWD SUV - $17,
2018 *Nissan* *Sentra* S CVT Sedan - $12
2019 *Nissan* *Sentra* S CVT Sedan - $15
2019 *Kia* *Sorento* LX AWD SUV - $19,99
2019 *Ford* *Ranger* XL 2WD SuperCab 6'
2018 *Nissan* *Frontier*  Truck - $22,99
2018 *Nissan* *Versa Sedan*  - $10,995Ca
2019 *Nissan* *Sentra* S CVT Sedan - $14
2018 *Kia* *Optima* LX Automatic Sedan -
2019 *Nissan* *Frontier* Crew Cab 4x2 SL
2018 *Ram* *1500* Express 4x2 Quad Cab 6
2018 *Jeep* *Wrangler JK Unlimited* Saha
2018 *GMC* *Yukon XL* 2WD 4dr Denali SUV
2018 *GMC* *Yukon XL* 2WD 4dr Denali SUV
2018 *Ford* *F-150*  - $45,995Call Us To
2019 *Ford* *Mustang* EcoBoost Premium C
2018 *Ford* *EcoSport* SE 4WD SUV - $16,
nan
nan
nan
nan
2019 *Mercedes-Benz* *G-Class* AMG G 63
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Chrysler* *Pacifica* Touring L FWD
nan
2019 *Mercedes-Benz* *GLE* AMG GLE 43 4M
2019 *Ford* *F-150* Lariat 4x4 4dr Super
nan
2018 *Mercedes-Benz* *S-Class* S 560 Sed
2019 *Ram* *1500* Rebel 4x4 Quad Cab 6'4
2018 *GMC* *Yukon* 4WD 4dr Denali SUV 4x
2018 *Honda* *Accord Sedan* EX-L 2.0T Au
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Ford* *E-Series Cutaway* E-350 SD
2019 *Mercedes-Benz* *GLE* AMG GLE 43 4M
2018 *Porsche* *Panamera* 4 E-Hybrid Sed
2018 *Porsche* *Cayenne* Turbo AWD 4dr S
2019 *Land Rover* *Range Rover Sport* V6
2020 *Porsche* *Cayenne* S AWD SUV - $70
2019 *Ford* *E-Series Cutaway* E-350 SD
nan
2018 *Dodge* *Grand Caravan* SXT Wagon -
2019 *Honda* *Civic Sedan* Sport CVT - $
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Ford* *Flex* Limited FWD SUV - $21
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Chrysler* *Pacifica* Touring L FWD
2018 *Dodge* *Grand Caravan* SE Plus Wag
2018 *Lexus* *LC* LC 500 RWD Coupe - $56
2018 *Chrysler* *300* 300S AWD Sedan - $
2018 *Subaru* *Forester* 2018 SUBARU FOR
2019 *Chevrolet* *Silverado 6500HD* 6500
2019 *Ford* *Transit Van* T-150 148" Low
2019 *Lexus* *LX* Three Row AWD 4dr SUV
2018 *Honda* *HR-V* EX AWD CVT SUV - $19
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Mercedes-Benz* *G-Class* AMG G 63
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2019 *Chevrolet* *Corvette* 2dr Grand Sp
2018 *Mercedes-Benz* *S-Class* S 560 Sed
2019 *Ram* *1500* LIFTED NEW BODY STYLE
nan
2018 *Chevrolet* *Silverado 1500* LIFTED
2018 *Ford* *Transit Van* T-250 130" Med
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Chrysler* *Pacifica* Touring L FWD
2018 *Dodge* *Grand Caravan* SXT Wagon -
2019 *Dodge* *Grand Caravan* SXT - $42,9
2019 *Ford* *E-Series Cutaway* E-350 SD
2019 *Lexus* *LX* Three Row AWD 4dr SUV
2019 *Ram* *1500* Big Horn 4x4 Crew Cab
2020 *GMC* *Sierra 2500HD* LIFTED 2020 G
2019 *Ram* *1500* Big Horn 4x4 Crew Cab
2019 *Ford* *Super Duty F-350* PLATINUM
2018 *Kia* *Soul* + Automatic Sedan  - $
2019 *Chevrolet* *Impala* 4dr Sedan LT w
2018 *Chevrolet* *Silverado 2500HD* LIFT
nan
2019 *GMC* *Sierra 1500* LIFTED 2019 GMC
2018 *Chevrolet* *Silverado 1500* LIFTED
2019 *Ford* *Super Duty F-350 SRW* LIFTE
2018 *Chevrolet* *Silverado 2500HD* ONLY
2019 *Toyota* *Tundra* ONLY 4K MILES. LI
2019 *Hyundai* *Tucson* SE FWD SUV  - $1
2019 *GMC* *Yukon XL* DENALI SUV - $63,9
2019 *Chevrolet* *Suburban* PREMIER SUV
2020 *Chevrolet* *Silverado 3500HD* LTZ
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2019 *Ford* *Super Duty F-350 SRW* LIFTE
2020 *Toyota* *4Runner* TRD SUV - $43,90
2018 *Ford* *Expedition Max* PLATINUM SU
2019 *Ford* *SUPER DUTY F-350* LARIAT FX
2019 *Ford* *Super Duty F-350 SRW* LIFTE
2019 *Toyota* *Tundra* ONLY 4K MILES. LI
2019 *Ford* *Super Duty F-250 SRW* LIFTE
2019 *Ford* *Super Duty F-350 SRW* LIFTE
2019 *Chevrolet* *Silverado 1500* LIFTED
2018 *Ford* *F-150* ECO-BOOST. 18 FORD F
2019 *Chevrolet* *Silverado 2500HD* LIFT
2019 *Ford* *Fusion* Titanium AWD Sedan
2019 *Hyundai* *Elantra* SEL Sedan  - $1
2018 *GMC* *Sierra 1500* ********* RUNS
2019 *GMC* *Sierra 1500* 4WD Crew Cab 14
2018 *Ford* *F-150* ECO-BOOST. 18 FORD F
2019 *Ford* *Super Duty F-250 SRW* LIFTE
2019 *Chevrolet* *Silverado 1500* Z71 AP
2020 *GMC* *Sierra 1500* LIFTED NEW BODY
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2019 *Chevrolet* *Silverado 2500HD* LIFT
2019 *Toyota* *Tundra* 4WD SR5 CrewMax 5
2019 *Chevrolet* *Silverado 1500* LIFTED
2019 *GMC* *Sierra 1500* LIFTED - 4x4 -
2019 *GMC* *Sierra 1500* LIFTED - Crew C
2019 *Chevrolet* *Silverado 1500* LIFTED
2019 *Nissan* *Rogue Sport* FWD S SUV  -
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2018 *INFINITI* *Q50* REBUILT SALVAGE RU
2018 *Lincoln* *Navigator L* 4x4 Reserve
2018 *Porsche* *Panamera* 4S Sedan - $73
2018 *Tesla* *Model S* P100D AWD Sedan -
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2018 *Porsche* *Macan* GTS SUV - $55,000
2018 *Mercedes-Benz* *S-Class* S 560 Sed
2019 *BMW* *X7* xDrive50i Sports Activit
2018 *Lexus* *LC* LC 500 RWD Coupe - $56
2018 *Ford* *F-150* Raptor 4WD SuperCrew
2018 *Lincoln* *Navigator L* 4x4 Reserve
2019 *Lexus* *LX* Three Row AWD 4dr SUV
2019 *Mercedes-Benz* *G-Class* AMG G 63
2018 *Porsche* *718 Boxster* GTS Roadste
2018 *Land Rover* *Range Rover Sport* Su
2018 *Tesla* *Model S* P100D AWD Sedan -
2018 *Porsche* *Panamera* 4S Sedan - $73
2018 *Chevrolet* *Colorado* FRESH TRADE.
2019 *Ford* *Super Duty F-250 SRW* 4X4 C
2018 *Ford* *Super Duty F-450 DRW Cab-Ch
2019 *Chevrolet* *Silverado 2500HD* 4X4
2018 *Mercedes-Benz* *C-Class* C 300 4MA
2018 *Ford* *F-150* LIFTED 2018 FORD F15
2018 *Land Rover* *Range Rover* Supercha
2019 *Ford* *F-150* Lariat 4x4 4dr Super
2019 *Hyundai* *Elantra* SEL Sedan  - $1
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Dodge* *Grand Caravan* SXT VMI Ver
2019 *Toyota* *Sienna* XLE Automatic Acc
2018 *Honda* *Pilot* EX-L w/Navigation 2
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2020 *Toyota* *Sienna* XLE Automatic Acc
2018 *Dodge* *Grand Caravan* SXT Wagon -
2019 *Toyota* *Tundra* LIFTED 2019 TOYOT
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2019 *Chevrolet* *Corvette* 2dr Grand Sp
2018 *Ford* *F-150* Raptor 4WD SuperCrew
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2019 *Mercedes-Benz* *G-Class* AMG G 63
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2019 *Chevrolet* *Corvette* 2dr Grand Sp
2018 *Dodge* *Grand Caravan* SXT Wagon -
2019 *Chevrolet* *Silverado 2500HD* 4X4
2018 *BMW* *X5* xDrive35i Sports Activit
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Nissan* *Sentra* S CVT Sedan  - $1
2019 *Chevrolet* *Silverado 2500HD* 4X4
2018 *Ford* *F-150* XLT Truck  - $31,588
2019 *Nissan* *Rogue* FWD SV Hybrid SUV
2018 *Nissan* *Sentra*  - $14,995Call Us
2018 *Hyundai* *Elantra* SE 2.0L Automat
2018 *Nissan* *Rogue* FWD SV SUV - $16,2
2019 *Chevrolet* *Silverado 2500HD* 4X4
2019 *Ford* *F-150* Platinum 2WD SuperCr
2018 *GMC* *Terrain* 2018 GMC TERRAIN SL
2018 *Mercedes-Benz* *S-Class* S 560 Sed
2018 *Nissan* *Rogue* FWD SV SUV - $17,6
2018 *Kia* *Forte* LX Automatic Sedan -
2018 *Hyundai* *Elantra* SEL 2.0L Automa
2018 *Mercedes-Benz* *S-Class* S 560 Sed
2019 *GMC* *Terrain* DENALI-AWD-PANO ROO
2018 *Chevrolet* *Tahoe* LT-4X4-22S-NEW
2019 *Ram* *1500 Classic* SLT 4x4 Crew C
2019 *Toyota* *Tacoma* 2WD SR5 Double Ca
nan
2018 *INFINITI* *QX60* FWD SUV - $24,249
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Volvo* *S60* 2018 VOLVO S60 DYNAMI
2020 *Chevrolet* *Silverado 1500* DOUBLE
2020 *Chevrolet* *Silverado 1500* CREW C
2018 *Ram* *2500* SLT CREW CAB 6.7L CUMM
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2020 *Chevrolet* *Silverado 1500* CREW C
2018 *Ram* *2500* SLT CREW CAB 6.7L CUMM
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2020 *Chevrolet* *Silverado 1500* DOUBLE
2020 *Chevrolet* *Silverado 1500* CREW C
2018 *Ram* *2500* SLT CREW CAB 6.7L CUMM
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2020 *Chevrolet* *Silverado 1500* CREW C
2018 *Ram* *2500* SLT CREW CAB 6.7L CUMM
2020 *Porsche* *Cayenne* S AWD SUV  - $7
2019 *Mercedes-Benz* *GLE* AMG GLE 43 4M
2018 *Porsche* *718 Boxster* GTS Roadste
2019 *Mercedes-Benz* *G-Class* AMG G 63
2018 *Cadillac* *CTS-V Sedan* 4dr Sedan
2018 *Volvo* *V60* 2018 VOLVO V60 T5 DYN
2019 *Chevrolet* *Suburban* 2WD 4dr 1500
2019 *INFINITI* *Q50* 3.0t LUXE RWD Seda
2019 *Toyota* *86* TRD SE Manual *Ltd Av
2018 *Lincoln* *Navigator L* L-TECH PACK
2018 *Nissan* *Rogue* 2018 NISSAN ROGUE
2018 *Jeep* *Renegade* Latitude SUV - $1
2018 *Toyota* *RAV4* LE SUV - $18,750Cal
2019 *Chevrolet* *Cruze* LT Sedan - $15,
2018 *Nissan* *Sentra* S CVT Sedan - $9,
2018 *Subaru* *Forester* 2018 SUBARU FOR
2019 *Chevrolet* *Spark* LS Sedan - $12,
2019 *Chevrolet* *Equinox* LT SUV - $19,
2018 *Nissan* *Altima* 2.5 S Sedan - $16
2018 *Nissan* *Versa* 1.6 SV Sedan - $10
2018 *Nissan* *Versa* 1.6 SV Sedan - $10
2018 *Ford* *Super Duty F-250 SRW* XLT-D
2020 *Jeep* *Gladiator* 2020 JEEP GLADIA
2019 *Ford* *Explorer* 2019 FORD EXPLORE
2018 *GMC* *Terrain* 2018 GMC TERRAIN SL
2018 *Kia* *Forte* LX Automatic Sedan -
2018 *Jaguar* *F-PACE* 20d Premium AWD S
2018 *Toyota* *Tacoma* TACOMA SR5 V6 DOU
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2018 *Toyota* *Tacoma* TACOMA SR5 V6 DOU
2018 *Volvo* *S60* 2018 VOLVO S60 DYNAMI
2018 *Volvo* *V60* 2018 VOLVO V60 T5 DYN
2019 *Ford* *Ranger* LARIAT 4WD SuperCre
2018 *Chevrolet* *Tahoe* LT-4X4-22S-NEW
2018 *Nissan* *Rogue* 2018 NISSAN ROGUE
2018 *Lincoln* *Navigator L* 4x4 Reserve
2018 *Nissan* *Altima* 2.5 SL Sedan - $1
2019 *Kia* *Rio* S Automatic Sedan - $11
2019 *Toyota* *Corolla* LE CVT Sedan - $
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2020 *Hyundai* *Elantra* Limited - $15,4
2018 *Ram* *5500 Chassis Cab* 5500 CREW
2020 *Chevrolet* *Silverado 3500HD* 3500
2019 *Nissan* *Rogue* SV 2WD - $16,998Ca
2020 *Hyundai* *Elantra* Limited - $14,3
2018 *GMC* *Sierra 1500* 4WD Double Cab
2019 *Nissan* *Altima* 2.5 S Sedan - $15
2018 *Lincoln* *Navigator L* 4x4 Reserve
2019 *Ford* *Fiesta* SE Sedan - $9,900Ca
2019 *Ford* *Super Duty F-350 DRW Cab-Ch
2020 *Chevrolet* *5500XD LCF Diesel* 550
2019 *Hyundai* *Elantra* Limited Sedan -
2018 *Chevrolet* *Camaro* 2dr Coupe 1LT
2020 *Chevrolet* *Silverado 2500HD* 2500
2019 *Ford* *Super Duty F-550 DRW* F550
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Chrysler* *Pacifica* Touring L FWD
2018 *Dodge* *Grand Caravan* SXT Wagon -
nan
92 toyota 4x4 king cab automatic, v6, JB
Auto Auction of San Diego address:    58
2019 *Ram* *1500* LIFTED NEW BODY STYLE
2018 *Chevrolet* *Silverado 2500HD* LIFT
2019 *Ford* *Super Duty F-250 SRW* 4X4 C
2018 *Honda* *Civic Sedan* EX-L CVT FWD
2019 *Chevrolet* *Silverado 2500HD* LIFT
2019 *Nissan* *Rogue Sport* AWD S SUV 4x
2019 *Nissan* *Altima* 2.5 S Sedan FWD -
2018 *Ford* *Super Duty F-450 DRW Cab-Ch
2019 *Chevrolet* *Corvette* 2dr Grand Sp
nan
2018 *Ford* *Transit Van* ONLY 9K MILES,
2019 *Chevrolet* *Silverado 2500HD* 4X4
2019 *Chevrolet* *Tahoe* LT-4X4-SUNROOF-
2018 *GMC* *Yukon* 18 GMC YUKON DENALI,
2018 *Ford* *F-150* ECO-BOOST. 18 FORD F
2018 *Chevrolet* *Equinox* LT SUV - $11,
2019 *Kia* *Optima* LX Automatic Sedan -
2018 *Ford* *Transit Van* 1 OWNER*FLEET
2019 *Mercedes-Benz* *Sprinter Cab Chass
2019 *GMC* *Sierra 1500* LIFTED 2019 GMC
2018 *Chevrolet* *Trax* AWD 4dr LS SUV -
2019 *Chevrolet* *Express Cargo Van* *RW
2018 *Ford* *F-150* ECO-BOOST. 18 FORD F
2018 *Mercedes-Benz* *S-Class* S 560 Sed
2018 *GMC* *Sierra 1500* LIFTED - 5.3L V
2018 *Ford* *Super Duty F-450 DRW Cab-Ch
2018 *Dodge* *Grand Caravan* GT Wagon -
2018 *Ford* *Fusion Hybrid* SE FWD Sedan
2019 *Dodge* *Grand Caravan* SXT - $17,9
2018 *Ford* *Super Duty F-250 SRW* XLT T
2019 *Ford* *F-150* XL Truck - $26,887Ca
2020 *Ford* *Explorer* XLT SUV - $35,987
2018 *Lexus* *LC* LC 500 RWD Coupe - $56
2019 *Chevrolet* *Silverado 2500HD* 4X4
2019 *BMW* *X7* xDrive50i Sports Activit
2019 *Toyota* *Sienna* XLE Automatic Acc
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2020 *Toyota* *Sienna* XLE Automatic Acc
2018 *Dodge* *Grand Caravan* SXT Wagon -
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2018 *Dodge* *Grand Caravan* SXT Wagon -
2019 *Honda* *Pilot* EX 2WD SUV - $51,90
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Dodge* *Grand Caravan* SXT Wagon -
2018 *Ford* *Fiesta* SE Hatch Sedan - $1
2018 *Ford* *Focus* SE Sedan - $13,995Ca
2019 *Toyota* *Camry* SE Automatic Sedan
2019 *Dodge* *Journey* Crossroad AWD SUV
2018 *Ford* *Transit Passenger Wagon* BA
2019 *Dodge* *Journey* Crossroad AWD SUV
2018 *Nissan* *Versa Sedan*  - $11,995Ca
2018 *Chevrolet* *Silverado 1500* LIFTED

In [156]:
get_year_from_description(df)

Ainda existem dados de ano nulos (28 linhas), analisando podemos perceber que muitas das descrições são nulas ou não estão no formato esperado e nesses casos muitos outros atributos estão undefined. Iremos remover os que tiverem a coluna 'description' nula.

In [157]:
df[df['year'].isnull()]

,id,url,region,price,year,manufacturer,model,condition,cylinders,fuel,...,transmission,vin,drive,size,type,paint_color,description,state,lat,long
15321,7115299820,https://chattanooga.craigslist.org/cto/d/ten-m...,chattanooga,2700,NaN,undefined,ep liberty,excellent,6 cylinders,gas,...,automatic,NaN,rwd,mid-size,SUV,grey,03 jeep liberty 2 wheel drive v6 runs good col...,tn,35.6279,-84.7542
28526,7119521844,https://wausau.craigslist.org/cto/d/rosholt-20...,wausau,4300,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,wi,NaN,NaN
40969,7119451639,https://worcester.craigslist.org/cto/d/worcest...,worcester / central MA,4500,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ma,NaN,NaN
74356,7121504251,https://losangeles.craigslist.org/lgb/cto/d/la...,los angeles,2600,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ca,NaN,NaN
74400,7121502508,https://losangeles.craigslist.org/lac/cto/d/la...,los angeles,2600,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ca,NaN,NaN
80723,7119965827,https://honolulu.craigslist.org/oah/cto/d/waip...,hawaii,5200,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,hi,NaN,NaN
87185,7121258338,https://losangeles.craigslist.org/lac/cto/d/lo...,los angeles,6000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ca,NaN,NaN
87528,7120849219,https://greenville.craigslist.org/cto/d/lauren...,greenville / upstate,2000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,sc,NaN,NaN
87633,7121247705,https://boise.craigslist.org/cto/d/riggins-200...,boise,8200,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,id,NaN,NaN
89520,7118786517,https://greenville.craigslist.org/cto/d/greenv...,greenville / upstate,8000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,sc,NaN,NaN
92583,7118382908,https://bemidji.craigslist.org/cto/d/bemidji-1...,bemidji,1000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,mn,NaN,NaN
96348,7120079015,https://boise.craigslist.org/ctd/d/boise-2014-...,boise,16983,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,id,NaN,NaN
104415,7121252688,https://minneapolis.craigslist.org/hnp/cto/d/m...,minneapolis / st paul,153000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,mn,NaN,NaN
115343,7121450747,https://orangecounty.craigslist.org/cto/d/irvi...,orange county,5250,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ca,NaN,NaN
118183,7121113746,https://orangecounty.craigslist.org/cto/d/el-s...,orange county,6950,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ca,NaN,NaN
140832,7118615055,https://rmn.craigslist.org/cto/d/rochester-201...,rochester,13450,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,mn,NaN,NaN
169941,7121364975,https://sandiego.craigslist.org/csd/cto/d/san-...,san diego,2000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ca,NaN,NaN
170030,7121276517,https://sandiego.craigslist.org/nsd/cto/d/esco...,san diego,5000,NaN,undefined,yota 4x4,excellent,6 cylinders,gas,...,automatic,NaN,4wd,mid-size,pickup,white,"92 toyota 4x4 king cab automatic, v6, JBL blu...",ca,33.1039,-117.0770
170856,7120778854,https://sandiego.craigslist.org/ssd/ctd/d/san-...,san diego,1000,NaN,undefined,undefined,undefined,undefined,gas,...,automatic,LOHMT0023HCN00488,undefined,undefined,undefined,undefined,Auto Auction of San Diego address: 5801 Fai...,ca,32.7808,-117.1010
180343,7117364929,https://sanantonio.craigslist.org/ctd/d/san-an...,san antonio,111111,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,tx,NaN,NaN
204551,7121283802,https://chicago.craigslist.org/nwc/cto/d/bense...,chicago,3650,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,il,NaN,NaN
209685,7120369075,https://dallas.craigslist.org/dal/cto/d/arling...,dallas / fort worth,4500,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,tx,NaN,NaN
284832,7121458936,https://denver.craigslist.org/cto/d/littleton-...,denver,2000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,co,NaN,NaN
293879,7120979368,https://denver.craigslist.org/cto/d/castle-roc...,denver,4950,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,co,NaN,NaN
319138,7121050306,https://cleveland.craigslist.org/cto/d/eastlak...,cleveland,3800,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,oh,NaN,NaN
333060,7107691638,https://lakeland.craigslist.org/cto/d/babson-p...,lakeland,3800,NaN,undefined,oor,good,8 cylinders,gas,...,automatic,NaN,4wd,mid-size,truck,white,Nice truck 4wD. Everything works new brakes 80...,fl,27.7618,-81.5749
340835,7120982113,https://norfolk.craigslist.org/cto/d/chesapeak...,norfolk / hampton roads,25000,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,va,NaN,NaN
345427,7118329695,https://newhaven.craigslist.org/cto/d/branford...,new haven,3950,NaN,undefined,undefined,undefined,undefined,undefined,...,undefined,NaN,undefined,undefined,undefined,undefined,NaN,ct,NaN,NaN

In [160]:
df.dropna(subset=['description'], inplace=True)
df.isnull().sum()

id                   0
url                  0
region               0
price                0
year                 4
manufacturer         0
model                0
condition            0
cylinders            0
fuel                 0
odometer         75124
title_status         0
transmission         0
vin             196625
drive                0
size                 0
type                 0
paint_color          0
description          0
state                0
lat               8211
long              8211
dtype: int64

#### Sobram quatro linhas em que o ano é nulo:

In [168]:
df[df['year'].isnull()]

,id,url,region,price,year,manufacturer,model,condition,cylinders,fuel,...,transmission,vin,drive,size,type,paint_color,description,state,lat,long
15321,7115299820,https://chattanooga.craigslist.org/cto/d/ten-m...,chattanooga,2700,NaN,undefined,ep liberty,excellent,6 cylinders,gas,...,automatic,NaN,rwd,mid-size,SUV,grey,03 jeep liberty 2 wheel drive v6 runs good col...,tn,35.6279,-84.7542
170030,7121276517,https://sandiego.craigslist.org/nsd/cto/d/esco...,san diego,5000,NaN,undefined,yota 4x4,excellent,6 cylinders,gas,...,automatic,NaN,4wd,mid-size,pickup,white,"92 toyota 4x4 king cab automatic, v6, JBL blu...",ca,33.1039,-117.0770
170856,7120778854,https://sandiego.craigslist.org/ssd/ctd/d/san-...,san diego,1000,NaN,undefined,undefined,undefined,undefined,gas,...,automatic,LOHMT0023HCN00488,undefined,undefined,undefined,undefined,Auto Auction of San Diego address: 5801 Fai...,ca,32.7808,-117.1010
333060,7107691638,https://lakeland.craigslist.org/cto/d/babson-p...,lakeland,3800,NaN,undefined,oor,good,8 cylinders,gas,...,automatic,NaN,4wd,mid-size,truck,white,Nice truck 4wD. Everything works new brakes 80...,fl,27.7618,-81.5749

In [171]:
for elem in df[df['year'].isnull()]['description']:
    print(elem)
    print('\n')

03 jeep liberty 2 wheel drive v6 runs good cold air and hot heat all windows work real nice on the inside and out it does have a reconstructed title 423twofivetwosevenzeroninesix


92 toyota 4x4 king cab automatic, v6, JBL  blue tooth stereo, clean title, 3rd owner, no accident, runs great


Auto Auction of San Diego address:    5801 Fairmount Ave Mission Valley CA, 92120phone:      ☎ (619) 430-4345 ext 32text:       Text 32 to (619) 430-4345 for more details  link:       http://inventory.autoauctionofsandiego.com/v/39002970/2/21825851/32  contact:    Auto Auction of San Diego      PUBLIC AUCTION OPENING BID Notes from the DealerMany other cars will be auctioned off this Saturday. All cars are smogged and have clean titles. Visit www.AutoAuctionOfSanDiego.com to see more cars. Vehicle InfoStock #: 25334VIN: LOHMT0023HCN00488Condition: UsedDescription Big PUBLIC Auto Auction this Saturday 11am in Mission Valley! The OPENING BID for this vehicle is $1000. The Auto Auction is OPEN TO THE PUBLIC and is FREE to enter. All cars have PASSED SMOG and have CLEAN titles.  Come early Saturday to sit in, start up, and inspect the vehicles before you bid. Gates open at 9AM. We are also open Monday-Friday for test drives and mechanical inspection. You can even bring your own mechanic for inspection.  We hold PUBLIC auto auctions every SATURDAY at 11am in Mission Valley. NO SALVAGED TITLES. Call with any questions 619-281-3333 Come see this . Its transmission and engine will keep you going. . Stop by and visit us at Auto Auction of San Diego, 5801 Fairmount Ave, San Diego, CA 92120. Auto Auction of San Diego address:    5801 Fairmount Ave Mission Valley CA, 92120phone:      ☎ (619) 430-4345 ext 32text:       Text 32 to (619) 430-4345 for more details  link:       http://inventory.autoauctionofsandiego.com/v/39002970/2/21825851/32  contact:    Auto Auction of San Diego


Nice truck 4wD. Everything works new brakes 80 percent tires 4.6 v8

Pela descrição so consegue-se informação do ano para linha com indice 170030 e indice 15321, o toyota de ano 92 e o jeep 2003, respectivamente.

In [190]:
df.at[170030, 'year'] = 1992
df.at[15321, 'year'] = 2003

#### As outras 2 linhas vamos preencher com a mediana dos anos do dataset

In [186]:
df['year'].fillna(df['year'].median(), inplace=True)
df.isnull().sum()

id                   0
url                  0
region               0
price                0
year                 0
manufacturer         0
model                0
condition            0
cylinders            0
fuel                 0
odometer         75124
title_status         0
transmission         0
vin             196625
drive                0
size                 0
type                 0
paint_color          0
description          0
state                0
lat               8211
long              8211
dtype: int64

O ano foi inferido como float64 pelo pandas, verificamos se há ou não casas decimais no com a função 'get_decimal' definida no script Utils.py para cada linha do dataframe:

In [196]:
df['year'].dtype

dtype('float64')

Como a serie retornada é vazia, todos os anos são números inteiros.

In [203]:
# testa se existe algum ano do tipo 2019.2 ou 2019.1, que possa ser entendido como float
test = df['year'].apply(get_decimal)
test = test[test > 0]
test

Series([], Name: year, dtype: float64)

### Tratamento de dados ausentes em Dados do tipo object
Os dados do tipo oject são as colunas 'description', 'url' e 'vin'. Apenas o 'vin' que é o codigo identificador do veículo possui dados ausentes. Como tem muitas linhas em que o 'vin' é nulo e esse código não será tão útil no projeto, vamos preecher com o valor 'undefined'.

In [194]:
df['vin'].fillna('undefined', inplace=True)
df.isnull().sum()

id                  0
url                 0
region              0
price               0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer        75124
title_status        0
transmission        0
vin                 0
drive               0
size                0
type                0
paint_color         0
description         0
state               0
lat              8211
long             8211
dtype: int64

### Tratamento de dados ausentes em Dados do tipo Float